{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header class="heade">
        <nav class="inner-header">
            <h1 class="logo">Trading-Bot</h1>
            <ul class="main-nav">
                <li><a href="#Home">Home</a></li>
                <li><a href="#Bot-Beschreibung">Bot-Beschreibung</a></li>
                <li><a href="#Live-Demo">Live-Demo</a></li>
                <li><a href="#Beteiligte-Personen">Beteiligte-Personen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Home Section -->
        <div id="Home">
            <img class="back-img" src="../../static/pictures/TradingBot.jpg" alt="" />
            <div class="text-pic">
                <h1>Gruppe 03</h1>
                <p>Signalbasiert (ohne Machine Learning); signale Live berechnen</p>
            </div>
        </div>
        <!-- About-the-Bot Section -->
        <div class="sections" id="Bot-Beschreibung">
            <h2>Trading Bot Beschreibung</h2>
            <p>Signalbasiert (ohne Machine Learning); signale Live berechnen</p>
            <div>
                Der Trading Bot ist auf das Forex Trading ausgerichtet. Käufe und
                Verkäufe werden automatisch getätigt, falls ein bestimmter Wert
                überschritten oder unterschritten wird.
            </div>
        </div>
        <!-- Live-Demo Section -->
        <div>
            <div class="sections" id="Live-Demo">
                {% block content %} {% if chart %}
                <h2>Live Demo</h2>
                <img src="data:image/png;base64,
          {{chart|safe}}" />
                <br>
                <br>
                <ul>
                    <li>Veränderung letzte Woche: </li>
                    <li>Höchster gesamter Wert: </li>
                    <li>Niedrigster gesamter Wert: </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>{% endif %} {% endblock content %}
            </div>
        </div>
        <!-- About-Us Section -->
        <div class="sections last" id="Beteiligte-Personen">
            <h2>Beteiligte Personen</h2>
            <ul>
                <li>
                    <div>Daniel Harant</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
                <li>
                    <div>Niklas Meyer</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
                <li>
                    <div>Tim Heyder</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
                <li>
                    <div>Tom Schneider</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
                <li>
                    <div>Vartan Artyunyan</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
                <li>
                    <div>Samuel Rajabi</div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                        porro, voluptatum eveniet vel fugiat dolorem dignissimos ipsam ad,
                        vero et sed dolore iure eaque? Dicta.
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>