{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Page Title</title>
  <link type="text/css" rel="stylesheet" href="{% static 'css/trade.css' %}" />
  <link href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="outer">
    <h1>Signale</h1>
    <h2 class="offene">Offene Positionen</h2>
    <p>(Falls ein minus vor einer Zahl steht wurde es short gekauft, bei keinem auf Long)</p>
    {% block content %}
    {% for signals in sigs %}
    {% if signals.realizedPL is None %}
    <div>Das Instrument {{ signals.instrument }} wurde um {{ signals.lastTime }} für {{ signals.buyingPrice }} Euro
      gekauft.
    </div>
    {% endif %} {% endfor %}
    {% endblock content %}
  </div>
</body>

</html>