/* General Stuff */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html,
body {
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

h2 {
  color: wheat;
}

h3,
a {
  color: wheat;
}

h2 {
  font-size: 40px;
}

.logo {
  padding-left: 20px;
  font-size: 25px;
  color: wheat;
}

/* Nav Section */
.outer-flt {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blurred-nav {
  position: fixed;
  width: 110vw;
  height: 60px;
  -webkit-filter: blur(15px 15px);
          filter: blur(15px 15px);
  background-color: rgba(0, 0, 0, 0.9);
}

.logo a,
.main-nav a {
  padding-right: 30px;
  text-decoration: none;
  font-size: 20px;
}

.main-nav a:hover {
  color: #718daa;
}

.main-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.heade {
  z-index: 99;
  position: fixed;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-header {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

/* Lower  */
.outside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lower {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: grey;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

/* Home Section */
.back-img {
  z-index: 1;
  width: 100%;
  opacity: 0.8;
  max-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

.text-pic {
  position: absolute;
  top: 40%;
  left: 25%;
  padding: 0px 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.text-pic h1 {
  color: wheat;
  font-size: 50px;
}

.text-pic p {
  color: white;
  font-size: 35px;
}

/* Sections General */
.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 5%;
}

.personen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
}

.personen-liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #4b4b48;
  height: 1px;
}
/*# sourceMappingURL=base.css.map */